.detail-component {
  margin: auto;
  padding: 10px;
  width: 400px;
  border: 1px solid black;

  font-size: 20px;
  font-family: sans-serif;
  color: #2b434a;
  text-decoration: none;
  background-color: rgba(192, 192, 192, 0.9);
  justify-content: center;
}

.name {
  color: #2b434a;
  text-decoration: none;
}

li.component-item {
  display: inline;
}

.navLink {
  display: inline;
  background-color: #5f8196;
  margin: 20px;
  padding: 10px;
  width: 250px;
  border: 1px solid black;
  font-size: 28px;
  font-family: sans-serif;
  color: white;
  text-align: center;
}

.navBar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

a,a:visited,a:hover,a:active {
  color: inherit;
}

body {
  height: 125vh;
  font-family: sans-serif;
  background-color: white;
  background-image: url("../src/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

a {
  text-decoration: none;
}

button {
  background-color: #5f8196;
  border: solid 1px black;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  outline: none;
}

button:hover {
  background-color: #526f81;
}

button:active {
  background-color: #526f81;
  transform: translateY(2px);
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.component-list {
  margin: auto;
  padding: 10px;
  width: 50%;
  border: 1px solid black;

  font-size: 24px;
  font-family: sans-serif;
  color: #2b434a;
  text-decoration: none;
  background-color: rgba(192, 192, 192, 0.7);

  display: flex;
  flex-wrap: wrap;

}

.component-item {
  border: 1px solid black;
  padding: 15px;
  margin: 10px;
  background-color: rgba(192, 192, 192, 0.7);
  flex: 1 0 21%;
}

.form-component {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

input {
  width: 200px;
  padding: 12px 20px;
  font-size: 15px;
  font-weight: 700;
}

select {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  width: 100%;
  max-width: 100%; 
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .5em;
  appearance: none;
  background-color: #fff;
}

.update-button {
  width: 100%;
  margin-top: 10px;
}

.paddock-form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.delete-paddock-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}